<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mobile insight log vizualizer | Message {{ name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="../static/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/script.js"></script>
  <script type="text/javascript" src="../static/tree.jquery.js"></script>
  <script type="text/javascript" src="../static/bootstrap-table.js"></script>
  <!--<link rel="stylesheet" href="../static/jqtree.css">-->
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="../static/bootstrap-table.css">
</head>
<body>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-12 text-left"> 
      <a href="/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> <i>Return to home page</i></a>
      <h1>{{ name }}</h1>
      <p>This page displays the content of message <span id="logname">{{ name }}</span>.</p>

	  <div class="row">
        <div class="col-sm-4 form-group" id="custom-search-input-database">
            <div class="input-group input-group-sm">
	            <input id="search-db" type="text" class="search-query form-control" placeholder="Search within database" />
	            <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                    	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="display:none"></span>
                    	<span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-sm-5" id="custom-search-input-database-results" style="padding-top: 4px;">
        </div>
	  </div>
	  
	  <div class="row">
        <div class="col-sm-4 form-group" id="custom-search-input">
            <div class="input-group input-group-sm">
	            <input id="filter" type="text" class="search-query form-control" placeholder="Live search within open messages" />
	            <span class="input-group-btn">
                    <button class="btn btn-default disabled" type="button">
                    	<span class=" glyphicon glyphicon-play-circle"></span>
                    </button>
                </span>
            </div>
        </div>
	  </div>


      <div id="tree" style="margin-bottom: 90px" data-url="getMessages?name={{ name }}"></div>
  </div>
</div>

<footer class="footer navbar-fixed-bottom">
  <p>Mobile insight log vizualizer</p>
</footer>

</body>
</html>

